
@{
    ViewBag.Title = "Issue Items To Locations";
}

<div id="IssueItems"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetAllIssueItems();
    });

    function GetAllIssueItems() {
        startLoader();
        $.ajax(
            {
                url: "/Inventory/GetAllIssueItems/",
                type: "Get"
            }
        ).done(function (result) {
            $("#IssueItems").html(result);
            stopLoader();
        });
    }
</script>

