
@{
    ViewBag.Title = "Return To Vendor Voucher Summary";
}

<div id="ReturnToVendor"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetReturnToVendorVoucherSummary();
    });

    function GetReturnToVendorVoucherSummary() {
        startLoader();
        $.ajax(
            {
                url: "/Inventory/GetReturnToVendorVoucherSummary/",
                type: "Get"
            }
        ).done(function (result) {
            $("#ReturnToVendor").html(result);
            stopLoader();
        });
    }
</script>

