
@{
    ViewBag.Title = "Return To Warehouse Voucher Summary";
}

<div id="ReturnToWarehouse"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetReturnToWarehouseVoucherSummary();
    });

    function GetReturnToWarehouseVoucherSummary() {
        startLoader();
        $.ajax(
            {
                url: "/Inventory/GetReturnToWarehouseVoucherSummary/",
                type: "Get"
            }
        ).done(function (result) {
            $("#ReturnToWarehouse").html(result);
            stopLoader();
        });
    }
</script>

