
@{
    ViewBag.Title = "ReturnToWarehouse";
}

<style>
    .content-header {
        display: none !important;
    }
</style>


<div id="ReturnToWarehouseHead"></div>
<div id="ReturnToWarehouseDetail"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        ReturnToWarehouseHead();
        ReturnToWarehouseDetail();
    });
    function ReturnToWarehouseHead() {
        startLoader();
        $.ajax(
            {
                url: "/Inventory/ReturnToWarehouseHead/",
                type: "Get"
            }
        ).done(function (result) {
            $("#ReturnToWarehouseHead").html(result);
            stopLoader();
        });
    }

    function ReturnToWarehouseDetail() {
        startLoader();
        $.ajax(
            {
                url: "/Inventory/ReturnToWarehouseDetail/",
                type: "Get"
            }
        ).done(function (result) {
            $("#ReturnToWarehouseDetail").html(result);
            stopLoader();
        });
    }

    function CalculateRQty(itemId) {
        var phyQuantity = parseFloat($(`#PhyQuantity_${itemId}`).val());
        var issQuantity = parseFloat($(`#IssQuantity_${itemId}`).val());

        if (issQuantity > phyQuantity) {
            return alertify.error("Issuance Quantity Always Less Than Physical Quantity");
        }
        
        var remaining = parseFloat(phyQuantity - issQuantity).toFixed(2);
        $(`#RemQuantity_${itemId}`).html(remaining);
        debugger;
        if (itemId == "" || issQuantity == "") {
            return alertify.error("values is empty");
        }
        else {

            var modelData = {
                ItemId : itemId,
                Quantity : issQuantity,
            }

            startLoader();
            $.ajax({
                url: '@Url.Action("UpdateReturnToWarehouse", "Inventory")',
                contentType: 'application/json; charset=utf-8',
                type: "POST",
                data: JSON.stringify(modelData),
                datatype: "Json",
            }).done(function (res) {
                ReturnToWarehouseDetail();
                stopLoader();
            });

        }

    }

    function ReturnToWarehouse() {
        var transactionDate = $("#TransactionDate").val();
        var docNo = $("#DocNo").val();
        var locationId = $("#LocationId").val();
        var departmentId = $("#DepartmentId").val();
        var remarks = $("#Remarks").val();

        var itemData = [];

        $("#tblSale tr").each(function () {
            $this = $(this);
            var itemId = $this.find("input.itemId").val();
            var itemName = $this.find("span.itemName").text();
            var quantity = $this.find("input.itemQuantity").val();
            var itemRemarks = $this.find("input.itemRemarks").val();

            if (itemId && quantity) {
                var itemRow = {
                    ItemId: itemId,
                    ItemName: itemName,
                    Quantity: quantity,
                    Remarks: itemRemarks,
                }
                itemData.push(itemRow);
            }
        });

        if (transactionDate == "" || locationId == "" || departmentId == "" || itemData.length == 0) {
            return alertify.error("Please Fill The Required Fields");
        }
        else {
            var modelData = {
                TransactionDate: transactionDate,
                DocNo: docNo,
                LocationId: locationId,
                DepartmentId: departmentId,
                Remarks: remarks,
                ReturnToWarehouseDetails: itemData,
            };

            SaveReturnToWarehouse(modelData);
        }


    }

    function SaveReturnToWarehouse(modelData) {
        console.log(modelData);
        alertify.confirm("Are you sure you want to save Voucher", function (e, str) {
            if (e) {
         startLoader();
            $.ajax({
                url: '@Url.Action("AddReturnToWarehouse", "Inventory")',
                contentType: 'application/json; charset=utf-8',
                type: "POST",
                data: JSON.stringify(modelData),
                datatype: "Json",
            }).done(function (res) {
                console.log(res);
                if (res == "Error" || res == "") {
                    alertify.error("Something went wrong");
                }
                else if (res == "Success") {
                    window.location.reload();
                    alertify.success("Return To Warehouse Saved Successfully");
                    window.location.href = "/Inventory/AllReturnItemsToWarehouse";
                }
                stopLoader();
            });
            }
            else
            {
                /* location.reload()*/
            }
        }, "Default Value");
    }

    function RemoveReturnToWarehouse(itemId) {
         startLoader();
            $.ajax({
                url: '@Url.Action("RemoveReturnToWarehouse", "Inventory")',
                type: "POST",
                data: { ItemId: itemId},
            }).done(function (res) {
                ReturnToWarehouseDetail();
                stopLoader();
            });
    }
</script>



