
@{
    ViewBag.Title = "Purchase Items Voucher Summary";
}

<div id="VoucherSummary"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetWarehouseVoucherSummary();
    });

    function GetWarehouseVoucherSummary() {
        debugger
        startLoader();
        $.ajax(
            {
                url: "/Inventory/GetWarehouseVoucherSummary/",
                type: "Get"
            }
        ).done(function (result) {
            $("#VoucherSummary").html(result);
            stopLoader();
        });
    }
</script>

