@{
    Layout = null;
}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <a href="javascript:void(0)" onclick="CustomModal('/Home/PaymentByCash','Payment By Cash')">
            <!-- small box -->
            <div class="small-box btn-outline-info">
                <div class="inner" style="text-align:center">
                    <h4>Cash</h4>
                </div>
            </div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <a href="javascript:void(0)" onclick="SaveOrderUsingMachine(2,16)">
            <!-- small box -->
            <div class="small-box btn-outline-success">
                <div class="inner" style="text-align:center">
                    <h4>Keenu</h4>
                </div>

            </div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <a href="javascript:void(0)"  onclick="SaveOrderUsingMachine(3,5)">
            <!-- small box -->
            <div class="small-box btn-outline-secondary">
                <div class="inner" style="text-align:center">
                    <h4>Bank Alfalah</h4>
                </div>
            </div>
        </a>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <a href="#">
            <!-- small box -->
            <div class="small-box btn-outline-dark">
                <div class="inner" style="text-align:center">
                    <h4>Food Panda</h4>
                </div>
            </div>
        </a>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->

