@{
    Layout = null;
}
<div class="">
    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 700px;">

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Change Table</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->

            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Guest Count</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->
            @*<div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Delivery Type </p>
                        </div>
                    </div>
                </a>
            </div>*@
            <!-- ./col -->
            @*<div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Note</p>
                        </div>
                    </div>
                </a>
            </div>*@
            <!-- ./col -->
            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Void All</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->



            @*<div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">

                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Add Ticket</p>
                        </div>
                    </div>
                </a>
            </div>*@
            <!-- ./col -->

            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Print Bar</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->

            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Print Kitchen</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->

            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Print Bakery</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->
            <div class="col-lg-12 col-md-6 col-sm-4">
                <a href="javascript:void(0)">
                    <!-- small box -->
                    <div class="small-box btn-outline-dark">
                        <div class="inner" style="text-align:center">
                            <p>Print Bill</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- ./col -->

        </div>
        <!-- /.row -->
    </div>
</div>