@using POS.Utilities.ViewModel
@model CategoryViewModel
@{

    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Id)
    <div class="form-group ">
        <label class="col-form-label">Name <b class="text-danger">*</b></label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name ", @required = "true" })
    </div>

    <div class="modal-footer col-md-12">
        <div class="form-group">
            <button type="button" id="AddCategory" class="btn btn-primary"><span class="fa fa-save"></span> Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-dark"><span class="fa fa-remove"></span> Cancel</button>
        </div>
    </div>
}
<script>

    $("#AddCategory").click(function () {

        var id = $("#Id").val();
        var name = $("#Name").val();

        if (name == "") {
            alertify.error("Fill required fields.");
            return;
        }
        else
        {
            var modelData = {
                Id:id,
                Name: name,
            };
            startLoader();
            $.ajax({
                url: '@Url.Action("AddCategory", "Menu")',
                contentType: 'application/json; charset=utf-8',
                type: "POST",
                data: JSON.stringify(modelData),
                datatype: "Json",
            }).done(function (res) {
                console.log(res);
                if (res == "Error" || res == "") {
                    alertify.error("Something went wrong");
                }
                else if (res == "Success") {
                    alertify.success("Saved successfully");
                    location.reload();
                }
                stopLoader();
            });
        }
    });
</script>
