
@{
    ViewBag.Title = "Vendor Payments";
}


<div id="VendorPayments"></div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        GetVendorPayments();
    });

    function GetVendorPayments() {
        startLoader();
        $.ajax(
            {
                url: "/Report/GetVendorPayments/",
                type: "Get"
            }
        ).done(function (result) {
            $("#VendorPayments").html(result);
            stopLoader();
        });
    }
</script>







